:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal:'Inter', sans-serif;
}


body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("/image/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    margin-bottom: 1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.2em;
}

.descricao__texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza-secundario);
    opacity: 0.8;
}

.botao_terciario{
    display: inline-block;
    margin-top: 1rem;    
}

.terciario_imagem {
    width: 80%;
    margin-left: 5em;       
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 5em 0;
    
}

.lista__item {
    font-weight: 700;
    font-size: 32px;    
}

footer {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.rodape {
    text-align: center;
    height: 55vh;   
}

.logo__rodape {
   margin: 8rem 0 2rem 0;
    
}

.rodape_lista {
    display: flex;
    justify-content: center;    
    
}

.menu__rodape {
    margin: 0 0.8rem;
    font-size: 16px;
    font-weight: 400;
}

.menu__rodape:hover{
    color: #167BF7;
}

.copyright{
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-secundario);
    margin: 2rem 10rem;
}
